<div class="d-flex flex-column container">
    <div class="mt-4">
        <p [ngStyle]="{color: contador <= 3 ? 'red' : 'green'}">Contagem: {{ contador }}</p>
        <p *ngIf="contador > 5; else menor">O contador passou de 5!</p>
    </div>

    <div class="d-flex justify-content-center">
        <div class="flex-nowrap">
        <h2 [ngClass]="{subtitle: contador > 7}" *ngIf="contador > 4">
            O contador é maior que 7
        </h2>
        
            <ng-template #menor>
                <p>O contador é menor que 5</p>
            </ng-template>

            <ul [ngSwitch]="contador">
                <li *ngSwitchCase="3">É ígual a 3</li>
                <li *ngSwitchCase="5">É igual a 5</li>
                <li *ngSwitchCase="8">É igual a 8</li>
                <li *ngSwitchDefault>Eu sou o default :]</li>
            </ul>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center">
        <input type="text" placeholder="Digite algo" [(ngModel)]="text">
        <p>O texto é {{ text }}</p>
        <div class="flex-nowrap justify-content-center d-flex">
            <button (click)="incrementa()" class="btn btn-success m-1">Incrementa</button>
            <button (click)="decrementa()" class="btn btn-danger m-1">Decrementa</button>
        </div>
    </div>
    <ol>
        <li *ngFOr="let pessoa of pessoas">A pessoa se chama {{ pessoa.nome }} {{ pessoa.sobrenome }} e trabalha como {{ pessoa.cargo }}</li>
    </ol>
</div>